Projet/model/postalAddress.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- **************************************** -->
<!--
* Revision :
* 20161106 PAP creation
*
* -->
<!-- **************************************** -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="http://www.coffreo.com/schemas/documentation">

  <xs:annotation>
    <xs:documentation xml:lang="fr">
      postal address
    </xs:documentation>
  </xs:annotation>

  <xs:element name="postalAddress" doc:fr="adresse postale">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="address1" type="xs:string" doc:fr="première ligne d'adresse"/>
        <xs:element name="address2" type="xs:string" minOccurs="0" doc:fr="deuxième ligne optionnelle d'adresse"/>
        <xs:element name="address3" type="xs:string" minOccurs="0" doc:fr="troisième ligne optionnelle d'adresse"/>
        <xs:element name="zip" type="xs:token" doc:fr="code postal"/>
        <xs:element name="city" type="xs:token" doc:fr="ville"/>
        <xs:element name="country" type="xs:token" doc:fr="pays, format ISO3166"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>