Projet/model/resource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- **************************************** -->
<!--
* Revision :
* 20161106 PAP creation
*
* -->
<!-- **************************************** -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="http://www.coffreo.com/schemas/documentation">

  <xs:annotation>
      <xs:documentation xml:lang="fr">
        Information about the resource
      </xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="postalAddress.xsd"/>

  <xs:element name="resource" doc:fr="ressource">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resourceId" type="xs:token" doc:fr="identifiant/matricule en base correspondant à cette ressource"/>
        <xs:element name="title" doc:fr="civilité M ou Mme">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="M|Mme"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="firstname" type="xs:string" doc:fr="prénom de la ressource"/>
        <xs:element name="lastname" type="xs:string" doc:fr="nom de la ressource"/>
        <xs:element name="birthdate" type="xs:date" doc:fr="date de naissance de la ressource ISO8601(date)"/>
        <xs:element ref="postalAddress" doc:fr="adresse postale de la ressource"/>
        <xs:element name="email" type="xs:token" doc:fr="email de la ressource"/>
        <xs:element name="cellPhone" type="xs:token" minOccurs="0" doc:fr="numéro de téléphone portable de la ressource"/>
        <xs:element name="phone" type="xs:token" minOccurs="0" doc:fr="numéro de téléphone fixe de la ressource"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>